* {
    font-family: 'Raleway', sans-serif;
}

i {
    font-family: 'Glyphicons Halflings';
}

.header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EEE;
    padding: 15px;
}

.header-logo {
    padding: 5px 15px;
}

.content {
    margin-left: 130px;
    width: 600px;
}

/**
 * workaround to the element when using [innerHtml]-binding
 * @see http://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling/36265072#36265072
 */
:host >>> .highlight {
    font-weight: 700;
}
