<div class="book clearfix">
    <div class="cover">
        <img *ngIf="book.volumeInfo.imageLinks" src="{{ book.volumeInfo.imageLinks.smallThumbnail }}">
    </div>
    <div class="details">
        <i class="pull-right glyphicon glyphicon-star-empty"></i>
        <h4 class="title">{{ book.volumeInfo.title }}</h4>
        <small class="subtitle">{{ book.volumeInfo.subtitle }}</small>
        <div class="actions">
          <button routerLink="/books/{{ book.id }}" class="btn btn-info">Ver mais</button>
        </div>
    </div>
</div>
